*,
* ::before,
* ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
li {
    list-style: none;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
img {
    vertical-align: top;
}
html {
    font-size: 20px;
    font-weight: 400;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
}
[class*= "__container"] {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

/* ==================================== */

.header {
    padding: 0 0 40px;
}
.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu {
    display: flex;
    justify-content: center;
    padding: 14px 0 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: wheat;
}
.header__menu {
    width: 100%;
}
.menu__list {
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
}
.menu__link {
    color: black;
    padding: 13px;
    transition: all 0.3s ease;
}
.menu__link:hover {
    background-color: #000000;
    color: white;
}
.header__image {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: wheat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.header__photo {
    max-width: 150px;
}
.header__title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.header__descr {
    font-size: 24px;
}

/* =========================================== */

.main__about {
    margin-bottom: 50px;
}
.about__text {
    text-align: justify;
    margin-bottom: 10px;
}

/* ========================================== */

